# Ignore Maven compiled output folders
target/
epaus-project/app/target/

**/target/
*.class
*.jar
*.lst

# Ignore IntelliJ local workspace settings
.idea/workspace.xml
*.iml

# Ignore Mac system files
.DS_Store